* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #9D8189;
}

/* img {
    width: 75%;
    height: 75%;
    display: block;

} */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 20px 8px;
    color: #FFE5D9;
}

.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    padding-top: 20px;
}